.main-nav, .presentation p, .portfolio-header, .portfolio-div p, h2, .contact, .contact p, .footer, .footer span {
  text-align: center; }

/* HTML */
html {
  width: 100%;
  height: 100%;
  font-size: 14px; }
  @media (min-width: 320px) {
    html {
      font-size: 14px; } }
  @media (min-width: 768px) {
    html {
      font-size: 17px; } }
  @media (min-width: 1024px) {
    html {
      max-width: 1350px;
      margin: auto; } }

/* Global Layout Set-up */
* {
  box-sizing: border-box;
  font-size: 14;
  color: #888888; }
  @media (min-width: 768px) {
    * p {
      font-size: 16px; } }

h2 {
  font-weight: 700; }

.portfolio-header, a, h2, .name {
  color: #000; }
  @media screen and (min-width: 768px) {
    .portfolio-header, a, h2, .name {
      color: #000; } }

*
.portfolio-header, a, h2, .name {
  color: #000; }

/* Links styling */
a:hover {
  color: #2d4ff7; }

@media screen and (min-width: 768px) {
  /*************************
  Clearfix
  *************************/
  .clearfix:before,
  .clearfix:after {
    content: " ";
    display: table; }

  .clearfix:after {
    clear: both; } }
/*  Navigation style  */
.main-nav {
  width: 100%;
  min-height: 30px;
  padding: 10px;
  display: inline-block; }
  @media screen and (min-width: 1024px) {
    .main-nav {
      margin-top: 2em; } }

.nav {
  display: inline-block;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  line-height: 2; }
  @media screen and (min-width: 320px) {
    .nav {
      width: 45%;
      margin: auto;
      display: inline-block;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around; } }
  @media screen and (min-width: 768px) {
    .nav {
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-content: space-around;
      margin-bottom: 34px; } }
  @media (min-width: 1024px) {
    .nav {
      width: 45%;
      margin: 0;
      display: inline-flex;
      justify-content: flex-start; } }

.nav li {
  text-decoration: none; }
  @media screen and (min-width: 1024px) {
    .nav li {
      width: 15%;
      margin: 1.5em; } }

.nav li a {
  width: 100%;
  height: 100%; }

.name {
  font-size: 1.5em; }
  @media (min-width: 768px) {
    .name {
      display: block; } }
  @media screen and (min-width: 1024px) {
    .name {
      text-align: left;
      left: -50px;
      display: inline-block;
      width: 50%; } }

/* Links decoration */
li a, a:visited, a:hover, a:active {
  color: #000;
  text-decoration: none; }

/* Presentation  */
.presentation {
  margin-top: 0.5em;
  @exted %text-align-center;
  display: block; }
  @media (min-width: 768px) {
    .presentation {
      margin: auto;
      padding-bottom: 68px;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row-reverse;
      justify-content: flex-start;
      width: 94%; } }

/* Profile Picture */
.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 80%; }
  @media screen and (min-width: 320px) {
    .profile-picture {
      width: 80%;
      margin: auto; } }
  @media (min-width: 768px) {
    .profile-picture {
      width: 46%;
      margin: auto; } }
  @media (min-width: 1024px) {
    .profile-picture {
      max-width: 400px;
      max-height: 250px; } }

.presentation p {
  display: inline-block;
  width: 80%; }
  @media screen and (min-width: 320px) {
    .presentation p {
      width: 80%;
      color: #888888; } }
  @media (min-width: 768px) {
    .presentation p {
      width: 50%;
      text-align: left;
      padding-top: 16px;
      line-height: 1.6; } }
  @media (min-width: 1024px) {
    .presentation p {
      max-width: 500px;
      font-size: 20px;
      padding-top: 20px; } }

.portfolio-header {
  width: 100%;
  margin: 0 auto; }
  @media screen and (min-width: 1024px) {
    .portfolio-header {
      padding-top: 4em; } }
  .portfolio-header h2 {
    font-size: 14px; }
    @media screen and (min-width: 768px) {
      .portfolio-header h2 {
        font-size: 17px; } }
  @media (min-width: 768px) {
    .portfolio-header {
      padding-bottom: 34px; } }

/* Portfolio  */
.portfolio {
  padding-left: 0;
  display: block;
  margin: 0 auto;
  width: 100%; }
  @media screen and (min-width: 768px) {
    .portfolio {
      margin: auto;
      width: 96%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: stretch; } }

.portfolio-header {
  width: 100%;
  margin: 0 auto; }

ul {
  list-style-type: none; }

.portfolio-image {
  margin: 0 auto;
  display: block;
  width: 80%; }

.portfolio-div p, h2 {
  vertical-align: middle;
  font-size: 14px; }
  @media screen and (min-width: 768px) {
    .portfolio-div p, h2 {
      font-size: 17px; } }

.portfolio-div p {
  width: 80%;
  text-align: justify;
  margin: 0 auto;
  padding-bottom: 2em; }

@media screen and (min-width: 320px) {
  .portfolio-div img {
    width: 80%; } }
@media screen and (min-width: 768px) {
  .portfolio-div img {
    width: 96%;
    max-width: 400px;
    max-height: 250px; } }

@media screen and (min-width: 768px) {
  .portfolio-div {
    width: 50%; } }
@media screen and (min-width: 1024px) {
  .portfolio-div {
    width: 33%; } }

@media screen and (min-width: 768px) {
  .portfolio-div img:hover {
    transform: scale(1.1); } }

/* Contact   */
.contact {
  padding-top: 4em;
  padding-bottom: 2em;
  margin: 0 auto; }

.contact p {
  padding-bottom: 1em;
  margin: 0 auto;
  width: 80%;
  text-align: justify; }
  @media screen and (min-width: 320px) {
    .contact p {
      width: 80%; } }
  @media screen and (min-width: 768px) {
    .contact p {
      width: 60%;
      font-size: 17px; } }
  @media (min-width: 1024px) {
    .contact p {
      padding-top: 2em;
      padding-bottom: 2em;
      max-width: 45%; } }

/*   FOOTER   */
.footer {
  border-radius: 6px;
  transition: all .5s;
  border-top: 4px solid #ccc;
  padding-top: 2em;
  margin: 0 auto;
  padding-bottom: 2em;
  width: 80%;
  min-height: 30px; }
  @media screen and (min-width: 1024px) {
    .footer {
      margin-top: 2em;
      margin-bottom: 2em; } }

.footer span {
  color: #000;
  vertical-align: middle;
  float: left;
  font-weight: bold; }

.footer a {
  vertical-align: middle;
  text-decoration: none;
  font-weight: bold;
  float: right; }

.footer-nav, .footer-portfolio, .footer-contact, .footer-home {
  display: none; }

/*# sourceMappingURL=application.css.map */
