/* Contact   */

.contact {

	padding-top: 4em;
	@extend %text-align-center;
	padding-bottom: 2em;
	margin: 0 auto;

}

    .contact p {
	padding-bottom: 1em;
	margin: 0 auto;
	@include width(80%);
	@extend %text-align-center;
	text-align: justify;
    
    @media screen and (min-width: $brk-narrow) {
        width: 80%;
    }
    @media screen and (min-width: $brk-wide) {
        @include width(60%);
        @include fontSize(17px);
    }
    
    @media (min-width: $brk-wider) {
        padding-top: 2em;
        padding-bottom: 2em;
        @include max-width(45%);
    }
}