/* Contact   */

.contact {

	padding-top: 4em;
	text-align: center;
	padding-bottom: 2em;
	margin: 0 auto;
}

.contact p {
	padding-bottom: 1em;
	margin: 0 auto;
	width: 80%;
	text-align: center;
	text-align: justify;
    
    @media screen and (min-width: $brk-narrow) {
        width: 80%;
    }
    @media screen and (min-width: $brk-wide) {
        width: 60%;
        font-size: 17px;
    }
    
    @media (min-width: $brk-wider) {
        padding-top: 2em;
        padding-bottom: 2em;
        max-width: 45%;
    }
}