/*   FOOTER   */

.footer {
	border-radius: 6px;
    transition: all .5s;
	border-top: 4px solid #ccc;
	padding-top: 2em;
	@extend %text-align-center;
	margin:0 auto;
	padding-bottom: 2em;
	@include width(80%);
	min-height: 30px;
    
    @media screen and (min-width: $brk-wider){
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .footer span {
        @include color($black);
        @extend %text-align-center;
        vertical-align: middle;
        float: left;
        font-weight: bold;
    }
    
    .footer a {
        vertical-align: middle;
        text-decoration: none;
        font-weight: bold;
        float: right;
    }

    .footer-nav, .footer-portfolio, .footer-contact, .footer-home {
        display: none;
    }

}

