/* Portfolio  */

.portfolio {
	padding-left: 0;
	display: block;
	margin: 0 auto;
	@include width(100%);
    
    @media screen and (min-width: $brk-wide) {
        margin: auto;
        @include width(96%);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: stretch;
    }
}

.portfolio-header {

	@include width(100%);
    @extend %text-align-center;
	margin: 0 auto;
}

ul  {

	list-style-type: none;
}

.portfolio-image {
 	
 	margin: 0 auto;
 	display: block;
 	@include width(80%);
}

.portfolio-div p, h2 {

	@extend %text-align-center;
	vertical-align: middle;
    @include fontSize(14px);
    
    @media screen and (min-width: $brk-wide) {
        @include fontSize(17px);
    }
}

.portfolio-div p {
	@include width(80%);
	@extend %text-align-center;
	text-align: justify;
	margin: 0 auto;
	padding-bottom: 2em;
}

.portfolio-div img {
        @media screen and (min-width: $brk-narrow){   
        width: 80%;
    }
    @media screen and (min-width: $brk-wide) {
        @include width(96%);
        @include max-width(400px);
        max-height: 250px;
    }
}

.portfolio-div {
    
    @media screen and (min-width: $brk-wide) {
       @include width(50%); 
    }
    
    @media screen and (min-width: $brk-wider) {
        @include width(33%);
    }
    
}

.portfolio-div img:hover {
    @media screen and (min-width: $brk-wide) {
        transform: scale(1.1);
    }
    
}