.portfolio-header {
    @include width(100%);
	@extend %text-align-center;
	margin: 0 auto;
    
    @media screen and (min-width: $brk-narrow) {
    } 
        @media screen and (min-width: $brk-wider) {
        padding-top: 4em;
    }
    h2 {
    @include fontSize(14px);

    @media screen and (min-width: $brk-wide) {
    @include fontSize(17px);
    }
    }
    
    @media (min-width: $brk-wide) {
        padding-bottom: 34px;
    }
}