 /* Presentation  */


 .presentation {
 	
 	margin-top: 0.5em;
 	text-align: center;
 	display: block;
     
     @media (min-width: $brk-wide) {
         margin: auto;
         padding-bottom: 68px;
         display: flex;
         flex-wrap: nowrap;
         flex-direction: row-reverse;
         justify-content: flex-start;
         width: 94%;
         
     }
     
   //  @media screen and (min-width: $brk-narrow){
 	// width: 94%;
 	// margin: auto;
 	// display: flex;
	// flex-direction: row-reverse;
	// flex-wrap: nowrap;
	// justify-content: flex-start;
	// padding-bottom: 4em;
    // }
     }
    

/* Profile Picture */  

.profile-picture {

	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	width: 80%;
    
    @media screen and (min-width: $brk-narrow){
	width: 80%;
	margin: auto;
    }
    @media (min-width: $brk-wide) {
        width: 46%;
        margin: auto;
    }
    
    @media (min-width: $brk-wider) {
        max-width: 400px;
        max-height: 250px;
}
}

.presentation p {

	display: inline-block;
	text-align: center;
	width: 80%;
    
    @media screen and (min-width: $brk-narrow){
	text-align: center;
	width: 80%;
	color: #888888 ;
     }
    @media (min-width: $brk-wide) {
        width: 50%;
        text-align: left;
        padding-top: 16px;
        line-height: 1.6;
    }
    
    @media (min-width: $brk-wider) {
        max-width: 500px;
        font-size: 20px;
        padding-top: 20px;
    }
   
}


