/* HTML */



html {

	@include width(100%);
	height: 100%;
    @include fontSize(14px);
    
    @media (min-width: $brk-narrow) {
        @include fontSize(14px);
    }
    @media (min-width: $brk-wide) {
        @include fontSize(17px);
    }
    @media (min-width: $brk-wider) {
        @include max-width(1350px);
        margin: auto;
    }
}



/* Global Layout Set-up */
* { 
  box-sizing: border-box;
  @include fontSize(14);
  color: #888888 ;
    
    p {
        @media (min-width: $brk-wide) {
            @include fontSize(16px);
        }
    }
   
}





h2 {

	@include fontWeight(700);
}

.portfolio-header, a, h2, .name  {

	@include color($black);
    
    @media screen and (min-width: $brk-wide){
        @include color($black);
    }
    
}


* /*  Font color     */

.portfolio-header, a, h2, .name  {

	@include color($black);
}

/* Links styling */ 

a:hover {
    @include color($hover-color);
}

@media screen and (min-width: $brk-wide){
/*************************
Clearfix
*************************/

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}


}
