/* HTML */



html {

	width: 100%;
	height: 100%;
    font-size: 14px;
    
    @media (min-width: $brk-narrow) {
        font-size: 14px;
    }
    @media (min-width: $brk-wide) {
        font-size: 17px;
    }
    @media (min-width: $brk-wider) {
        max-width: 1350px;
        margin: auto;
    }
}



/* Global Layout Set-up */
* { 
  box-sizing: border-box;
  font-size: 14;
  color: #888888 ;
    
    p {
        @media (min-width: $brk-wide) {
            font-size: 16px;
        }
    }
   
}





h2 {

	font-weight: 700;
}

.portfolio-header, a, h2, .name  {

	color: black;
    
    @media screen and (min-width: $brk-wide){
        color: black;
    }
    
}


* /*  Font color     */

.portfolio-header, a, h2, .name  {

	color: black;
}

/* Links styling */ 

a:hover {
	color: #2d4ff7;
}

@media screen and (min-width: $brk-wide){
/*************************
Clearfix
*************************/

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}


}
